<header class="header">
    <div class="d-flex-mobile">
        <a href="#" class="logo">CompanyLogo</a>
    </div>
    <div class="header-right hidde-menu">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/catalogo" routerLinkActive="active">Catalogo</a>
        <!-- <a [routerLink]="['/catalogo', electronica]" routerLinkActive="active">Electrónica</a>
        <a [routerLink]="['/catalogo', 12]" routerLinkActive="active">Categoría 12</a>
        <a [routerLink]="['/catalogo', 13ABC]" routerLinkActive="active">Categoría 13ABC</a> -->
        <a routerLink="/about" routerLinkActive="active">About</a>
    </div>
</header>
